---
language: python

python:
  - "2.7"
  - "3.4"
  - "3.5"

before_install:
  - sudo apt-get install -qq git
  - wget --no-check-certificate -q  https://raw.github.com/petervanderdoes/gitflow-avh/develop/contrib/gitflow-installer.sh && sudo bash gitflow-installer.sh install stable && rm gitflow-installer.sh

# command to install dependencies
install:
  - pip install -r requirements/testing.txt
  - pip install .

# command to run tests
script: py.test -sv --runslow